<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>MyDetails</title>
</head>
<body background="5.jpg">
	<div ng-app="myprofile" ; ng-controller="myCtrl"
		class="container-fluid">
		<div class="text-center" style="margin-top: 4%;" ng-show="details">
			<h2 style="color: AntiqueWhite;">
				<u> Please Find Out My Details Below:</u>
			</h2>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2"></div>
			<div class="col-md-4 col-sm-2 col-xs-2" style="margin-top: 4%" ng-show="details">
				<h3 style="color: AntiqueWhite; margin-bottom: 5%;">
					<u>Personal Details:</u>
				</h3>
				<h4 style="color: white;">
					<form ng-repeat="x in DetailsList">
						<p>{{x.name}}
						<p>
						<p>{{x.email}}
						<p>
						<p>{{x.phn}}
						<p>{{x.plc}}
						<p>
					</form>


				</h4>
			</div>
			<div class="col-md-4 col-sm-2 col-xs-2" style="margin-top: 3%; margin-left: 5%"
				ng-show="details">
				<h3 style="color: AntiqueWhite; margin-bottom: 4%;">
					<u>Company And Experience:</u>
				</h3>
				<h4 style="color: white;">
					<form ng-repeat="x in companyList">
						<p>{{x.cname}}
						<p>
						<p>{{x.exp}}
						<p>
						<p>{{x.tech}}
						<p>{{x.fwork}}
						<p>
					</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-5 col-xs-5"></div>
			<div class="col-md-1 col-sm-1 col-xs-1" >
				<button ng-show="details" type="button" class="btn btn-primary"
					ng-click=open(); style="margin-top: 15%">My Resume</button>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%; margin-left: 92%">
			<button type="button" class="btn btn-primary" ng-click="refresh()"
				ng-show="value">Back</button>
		</div>
		<div ng-show="value" style="margin-left: 10%; margin-top: 1%">
			<img ng-src="1.jpg" width="1100" height="1100" />
		</div>
	</div>








</body>

<script>
	var app = angular.module("myprofile", []);
	app.controller("myCtrl", function($scope) {
		$scope.DetailsList = [ {
			'name' : 'Name:      Pritam Kumar Dixit'
		}, {
			'email' : 'Email Id:   pritamkumar.dixit@gmail.com'
		}, {
			'phn' : 'Phone Number: 9886757528'
		}, {
			'plc' : 'Place: Mysore'
		} ];
		$scope.companyList = [ {
			'cname' : 'Company:      Infosys Limited'
		}, {
			'exp' : 'Experience:   1.6 Year'
		}, {
			'tech' : 'Technologies: Java,J2EE,Web Services,HTML5,Python'
		}, {
			'fwork' : 'FrameWorks: Angular Js,Spring FrameWork,Hibernate'
		} ];
		$scope.value = false;
		$scope.details = true;
		$scope.open = function() {
			$scope.details = false;
			$scope.value = true;
		}
		$scope.refresh = function() {
			$scope.value = false;
			$scope.details = true;
		}
	});
</script>

</html>





