<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
</style>
<title>MyDetails</title>
</head>
<body background="5.jpg">
	<div ng-app="myprofile" ; ng-controller="myCtrl"
		class="container-fluid">
		<div class="text-center" style="margin-top: 4%;" ng-show="details">
			<h2 style="color: AntiqueWhite;">
				<u> Please Find Out My Details Below:</u>
			</h2>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2"></div>
			<div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 4%"
				ng-show="details">
				<h3 style="color: AntiqueWhite; margin-bottom: 5%;">
					<u>Personal Details:</u>
				</h3>
				<h4 style="color: white;">
					<form ng-repeat="x in DetailsList">
						<p>{{x.name}}
						<p>
						<p>{{x.email}}
						<p>
						<p>{{x.phn}}
						<p>{{x.plc}}
						<p>
					</form>


				</h4>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4"
				style="margin-top: 3%; margin-left: 5%" ng-show="details">
				<h3 style="color: AntiqueWhite; margin-bottom: 4%;">
					<u>Company And Experience:</u>
				</h3>
				<h4 style="color: white;">
					<form ng-repeat="x in companyList">
						<p>{{x.cname}}
						<p>
						<p>{{x.exp}}
						<p>
						<p>{{x.tech}}
						<p>{{x.fwork}}
						<p>
					</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-5 col-xs-5"></div>
			<div class="col-md-1 col-sm-1 col-xs-1">
				<button ng-show="details" type="button" class="btn btn-primary"
					ng-click=open(); style="margin-top: 15%">View Resume</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-sm-10 col-xs-10"></div>
			<div class="col-md-1 col-sm-1 col-xs-1"
				style="margin-top: 2%; margin-left: 5%;">
				<button type="button" class="btn btn-primary" ng-click="refresh()"
					ng-show="value">Back</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-3"></div>
			<div ng-show="value" class="col-md-6 col-sm-6 col-xs-6">
				<img ng-src="Resume.jpg" width="700" height="700" style="margin-top: 5%" />
			</div>
		</div>
		<div></div>
		>
		<div class="row">
			<div class="col-md-5 col-sm-5 col-xs-5"></div>
			<button ng-show="value" class="btn btn-primary" style="margin-left: 5%"><a style="color: #fefeff " href="./Pritam Resume.pdf" ng-show="value"
				download="pritam_Dixit_Resume"> Download</a></button>
		</div>
	</div>
	</div>


</body>

<script>
	var app = angular.module("myprofile", []);
	app.controller("myCtrl", function($scope) {
		$scope.DetailsList = [ {
			'name' : 'Name:      Pritam Kumar Dixit'
		}, {
			'email' : 'Email Id:   pritamkumar.dixit@gmail.com'
		}, {
			'phn' : 'Phone Number: 9886757528'
		}, {
			'plc' : 'Place: Bangalore'
		} ];
		$scope.companyList = [ {
			'cname' : 'Company:      Infosys Technology Limited'
		}, {
			'exp' : 'Experience:   1.9 Year'
		}, {
			'tech' : 'Technologies: Java,J2EE,Web Services,Micro Servies'
		}, {
			'fwork' : 'FrameWorks: Angular Js,Spring FrameWork,Hibernate,SpringBoot'
		} ];
		$scope.value = false;
		$scope.details = true;
		$scope.open = function() {
			$scope.details = false;
			$scope.value = true;
		}
		$scope.refresh = function() {
			$scope.value = false;
			$scope.details = true;
		}
	});
</script>

</html>


